* {
    margin: 0;
    padding: 0;
}

.head {
    background-color: #282f3b;
    color: #F0F0F0;
    width: 100%;
    height: 30vh;
}

.img {
    width: 100%;
    height: 20vh;

}

.navbar {
    width: 100%;
    height: calc(30vh - 20vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-links li {
    display: inline;
    list-style: none;
    margin: 0 3vw;
}

.sidebar-icon {
    display: none;
    fill: white;

}

.sidebar-icon button {
    background-color: #282f3b;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #F0F0F0;
    ;
}

.side-bar {
    width: 50%;
    z-index: 999;
    height: 70vh;
    color: #F0F0F0;
    background-color: #282f3b;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-links-sidebar {
    list-style: none;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
}

.show {
    transform: translateX(0);

}
.copy-sidebar a{
    color: #F0F0F0;
}




@media screen and (max-width:600px) {
    .sidebar-icon {
        display: inline;
    }

    .nav-links li {
        display: none;
    }
}